/* Tailwind CSS */
@import "tailwindcss";

@theme
{
  /* ====  Brand Color =====  */
   --color-brand-50: #fffbeb;
  --color-brand-100: #fef3c7;
  --color-brand-500: #f59e0b;
  --color-brand-600: #d97706;
  --color-brand-700: #b45309;

    --color-veg: #10b981;
    --color-vegBg: #ecfdf5;
    --color-nonVeg: #f43f5e;
    --color-nonVegBg: #fff1f2;

    --color-cash: #059669;
    --color-upi: #2563eb;
 
 
  /* === Large Desktop Breakpoints === */
  --breakpoint-xl: 1280px;  /* Standard Laptop / Monitor */
  --breakpoint-2xl: 1536px; /* Large Laptop / Desktop */
  --breakpoint-3xl: 1920px; /* Full HD 1080p Monitor / TV */
  --breakpoint-4xl: 2560px; /* 2K / 4K Ultra Wide Displays */
}

html 
{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body
{
     font-family: "Noto Sans Tamil", sans-serif;
}

/* noto-sans-tamil-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 400;
  src: url('/font/noto-sans-tamil-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tamil-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 500;
  src: url('/font/noto-sans-tamil-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tamil-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 700;
  src: url('/font/noto-sans-tamil-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-tamil-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: 800;
  src: url('/font/noto-sans-tamil-v31-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
